@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

.App {
  text-align: center;
  font-family: 'Roboto';
}


.header {
  height: 80px;
  justify-content: space-between;
  align-items:baseline;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #143F6B;
  color: white;
}

.title{
  color: #143F6B;
}

.logo {
  color: white;
}

.menu {
  /* height: 500px; */
  display: grid;
  padding: 30px;
  justify-content: center;
}

.jobCard {
  padding: 20px;
  margin: 8px;
  height: 300px;
  width: 200px;
  background-color: white;
  outline: #FEB139 solid 2px;
  border-radius: 20px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.descBox{
  outline: #FEB139 solid 3px;
  padding: 20px;
  margin: 20px;
  border-radius: 20px;
}

.sendButton{
  height: 40px;
  color: white;
  background-color: #FEB139;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 90%;
  border-radius: 8px;
}

.sendButtonDisable{
  height: 40px;
  color: white;
  background-color: gray;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 90%;
  border-radius: 8px;
}

.sendButtonCard{
  height: 40px;
  color: white;
  background-color: #FEB139;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 90%;
  border-radius: 8px;
  width: 180px;
}

.sendButtonCardDisable{
  height: 40px;
  color: white;
  background-color: gray;
  margin-left: 10px;
  margin-right: 10px;
  width: 200px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  width: 90%;
  border-radius: 8px;
  width: 180px;
}
